body {
    background-image: linear-gradient(to right, purple, orange);

}

header {

    display: flex;
}

/* Styling for my header section */
#title {

    height: 200px;
    width: 400px;
    /* background-color: red; */
    border-style: ridge;
    border-color: blue;
    border-width: 10px;
    text-align: center;
    color: blue;
    font-size: 50px;
    text-shadow: 3px 3px black;
    margin-left: 50px;
}

/* Adding a hover to change to when you hover over title */

/* #title:hover {

    height: 280px;
    width: 500px;
    font-size: 100px;
} */

/* Creating styling for background of game */

#outerBack {

    height: 650px;
    width: 1200px;
    background-color: purple;
    margin: 0 auto;
    border-radius: 10px;
    border: ridge;
    border-color: black;
}

#board1 {

    /* margin-top: 40px; */
    margin: 0 auto;
}

.table {

    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    /* border: solid; */
}

.head {

    height: 80px;
    width: 220px;
    background: linear-gradient(to right, purple, orange, purple);
    text-align: center;
    color: whitesmoke;
    font-size: 40px;
}

.head:hover {

    background: orangered;
    border-radius: 10px;
    box-shadow: 0px 10px black;
}

.row {

    height: 70px;
    width: 200px;
    /* background: red; */
    font-size: 35px;
    text-align: center;
    /* margin-top: 20px; */
    border: ridge;
    border-radius: 5px;
    /* position: relative; */
}

.row:hover {

    background: orangered;
  
}

/* About to design each row individually */

.top {

    background-color: blue;
    box-shadow: 0px 5px;
}

.second {

    background-color: green;
    box-shadow: 0px 5px;

}

.third {

    background-color: orange;
    box-shadow: 0px 5px;

}

.fourth {

    background-color: teal;
    box-shadow: 0px 5px;


}

.fif {

    background-color: gold;
    box-shadow: 0px 5px;


}

/* will be the class added after a box is clicked */

.small {

    font-size: 20px;
}

.black {

    background: black;
}

/* Added a point box,this will be the design of that box */

.points {

    height: 150px;
    width: 300px;
    background-color: blue;
    font-size: 100px;
    text-align: center;
    margin-left: 170px;
    margin-top: 50px;
    border-radius: 30px;
    border-style: ridge;

}