body {
    background-image: linear-gradient(to right, purple, orange);

}

/* Styling for my header section */
#title {

    height: 200px;
    width: 400px;
    background-color: red;
    border-style: ridge;
    border-color: blue;
    border-width: 10px;
    text-align: center;
    color: blue;
    font-size: 50px;
    text-shadow: 3px 3px black;
    margin-left: 500px;
}

/* Adding a hover to change to when you hover over title */

#title:hover {

    height: 280px;
    width: 500px;
    font-size: 100px;
}

/* Creating styling for background of game */

#outerBack {

    height: 550px;
    width: 1200px;
    background-color: purple;
    margin: 0 auto;
    /* background-image: linear-gradient(to right, purple, orange); */
    border-radius: 10px;
    border-style: ridge;
    border-color: blue;
}

#board1 {

    /* margin-top: 40px; */
    margin: 0 auto;
}

.table {

    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    /* border: solid; */
}

.toprow {

    height: 50px;
    width: 200px;
    background: red;
    font-size: 35px;
    text-align: center;
    /* margin-top: 20px; */
    border: ridge;
}